In [6]:
import pandas as pd
import numpy as np
import os

In [19]:
data_d=os.path.join('daily_sales.csv') 
data_m=os.path.join('monthly_sales.csv')

In [26]:
day=pd.read_csv(data_1)

In [27]:
month=pd.read_csv(data_m)

In [37]:
month['year']=month['Month, Year'].apply(lambda x: x[-2:]).astype(int)

In [43]:
year_sum=month.drop(['Month, Year'],axis=1).groupby('year').sum()

In [76]:
year_sum

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
year,,,,,,,,,,,,,,,
16,15018452,6342284,3782250,15089397,6184218,3723534,14674588,6091022,3655429,14504772,6063851,3614955,14255683,5921843,3623867
17,17741690,7367446,4390884,17420447,7232191,4382457,17131715,7162448,4282933,16864459,7027026,4217404,16612812,6922107,4221290
18,19004783,7956944,4803865,18756738,7821310,4664654,18508629,7708299,4639853,18178265,7575247,4544941,17965178,7542971,4522787
19,13597409,5566546,3368943,13155125,5578234,3333492,13257068,5379660,3242963,12781118,5373326,3237239,12748702,5337645,3173024

In [81]:
year_sum

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
year,,,,,,,,,,,,,,,
16,15018452,6342284,3782250,15089397,6184218,3723534,14674588,6091022,3655429,14504772,6063851,3614955,14255683,5921843,3623867
17,17741690,7367446,4390884,17420447,7232191,4382457,17131715,7162448,4282933,16864459,7027026,4217404,16612812,6922107,4221290
18,19004783,7956944,4803865,18756738,7821310,4664654,18508629,7708299,4639853,18178265,7575247,4544941,17965178,7542971,4522787
19,13597409,5566546,3368943,13155125,5578234,3333492,13257068,5379660,3242963,12781118,5373326,3237239,12748702,5337645,3173024

In [94]:
year_sub=year_sum.rename(columns=lambda x: x[-2:])

In [140]:
year_sub.iloc[:,0:3].sum(axis=1)

year
16    25142986
17    29500020
18    31765592
19    22532898
dtype: int64

In [138]:
for i in range(0,15,3):
    five_place[i]=year_sub.iloc[:,i:i+3].sum(axis=1).to_frame()[0]

In [137]:
five_place=pd.DataFrame()

In [141]:
year_sub.iloc[:,0:0+3].sum(axis=1).to_frame()

             0
year
16    25142986
17    29500020
18    31765592
19    22532898

In [142]:
five_place.columns=['NE','SW','NW','SE','C']

In [143]:
five_place

            NE        SW        NW        SE         C
year
16    25142986  24997149  24421039  24183578  23801393
17    29500020  29035095  28577096  28108889  27756209
18    31765592  31242702  30856781  30298453  30030936
19    22532898  22066851  21879691  21391683  21259371

In [230]:
day_sum=day[:-3].groupby('Unnamed: 0').sum()

,Unnamed: 0,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
1,Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
2,Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
3,Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
4,Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
5,Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
6,Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
7,Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
8,Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
9,Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
10,Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
11,Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
12,Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
13,Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
14,Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
15,Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
16,Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
17,Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
18,Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
19,Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
20,Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
21,Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
22,Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
23,Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
24,Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
25,Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
26,Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
27,Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200

In [231]:
five_place_d=pd.DataFrame()
for i in range(0,15,3):
    five_place_d[i]=day_sum.iloc[:,i:i+3].sum(axis=1).to_frame()[0]
five_place_d.columns=['NE','SW','NW','SE','C']

In [232]:
hm_list=[]
for i in range(0,15,3):
    hm_list.append(i)
hm_list
cf_list=np.array(hm_list)+1
ff_list=cf_list+1

In [233]:
hm_m=day_sum.iloc[:,hm_list].sum(axis=1).to_frame()
cf_m=day_sum.iloc[:,cf_list].sum(axis=1).to_frame()
ff_m=day_sum.iloc[:,ff_list].sum(axis=1).to_frame()

In [234]:
three_d=pd.concat([hm_m,cf_m,ff_m],axis=1)

In [235]:
hm_y=year_sum.iloc[:,hm_list].sum(axis=1).to_frame()
cf_y=year_sum.iloc[:,cf_list].sum(axis=1).to_frame()
ff_y=year_sum.iloc[:,ff_list].sum(axis=1).to_frame()

In [236]:
three_m=pd.concat([hm_y,cf_y,ff_y],axis=1)

In [237]:
three_d.columns=['HM','CF','FF']
three_m.columns=['HM','CF','FF']

In [240]:
three_d.sort_index()

                HM      CF      FF
Unnamed: 0
Friday      731789  304994  210357
Monday      725474  308175  179006
Saturday    721762  294393  161418
Sunday      720019  306826  158830
Thursday    717869  303620  193430
Tuesday     721367  302101  176625
Wednesday   725219  305797  184822

In [179]:
day_sum.to_csv('total_sales_7days.csv')

In [180]:
year_sum.to_csv('total_sales_4years.csv')

In [181]:
five_place.to_csv('total_sales_4yearsbyplace.csv')

In [241]:
three_m.to_csv('total_sales_4years_bytype.csv')
three_d.to_csv('total_sales_7days_bytype.csv')

In [192]:
month['sum']=month.drop(columns=['year']).sum(axis=1)

In [222]:
month[0:12].to_csv('yaer_sales_16.csv')
month[12:24].to_csv('yaer_sales_17.csv')
month[24:36].to_csv('yaer_sales_18.csv')
month[36:].to_csv('yaer_sales_19.csv')

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,year,sum
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,16,9350979
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,16,9682759
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,16,9825257
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,16,9716585
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,16,10121412
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149,16,10074600
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238,16,10263807
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990,16,10882057
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830,16,10609820
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738,16,10619003
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006,16,10900886
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960,16,10498980
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816,17,11192197
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582,17,11824369
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153,17,11437109
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820,17,11393492
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348,17,11596984
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916,17,11878171
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962,17,11536662
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372,17,12559477
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303,17,12225562
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638,17,11964460
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888,17,12532702
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492,17,12836124
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,18,13048511
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,18,13347771
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,18,12677300
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,18,13251875
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,18,13687830
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,18,12840517
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,18,13338406
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,18,13542320
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,18,13247269
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,18,11374035
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,18,12299535
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,18,11539095
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,19,12558735
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,19,12278447
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,19,12074324
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,19,12250084
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,19,12686117
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,19,11798203
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,19,11547979
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,19,11954952
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807,19,11981653

In [219]:
month['hm_total']=month.iloc[:,np.array(hm_list)+1].sum(axis=1)

In [220]:
month

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,year,sum,hm_total
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,16,9350979,5598648
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,16,9682759,5840210
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,16,9825257,5909899
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,16,9716585,5799715
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,16,10121412,6080407
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149,16,10074600,6056108
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238,16,10263807,6163373
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990,16,10882057,6537463
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830,16,10609820,6382884
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738,16,10619003,6343865
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006,16,10900886,6490244
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960,16,10498980,6340076
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816,17,11192197,6685774
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582,17,11824369,7152982
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153,17,11437109,6817973
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820,17,11393492,6863707
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348,17,11596984,6964094
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916,17,11878171,7167558
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962,17,11536662,6840830
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372,17,12559477,7497876
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303,17,12225562,7352926
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638,17,11964460,7170291
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888,17,12532702,7549336
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492,17,12836124,7707776
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,18,13048511,7887763
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,18,13347771,7990228
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,18,12677300,7654312
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,18,13251875,7947352
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,18,13687830,8186393
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,18,12840517,7629715
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,18,13338406,8012517
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,18,13542320,8060250
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,18,13247269,7922921
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,18,11374035,6781234
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,18,12299535,7386402
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,18,11539095,6954506
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,19,12558735,7568561
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,19,12278447,7350256
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,19,12074324,7267799
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,19,12250084,7317841
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,19,12686117,7620829
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,19,11798203,7124175
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,19,11547979,6956441
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,19,11954952,7190660
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807,19,11981653,7142860

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,year,sum,hm_total
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,16,9350979,5598648
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,16,9682759,5840210
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,16,9825257,5909899
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,16,9716585,5799715
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,16,10121412,6080407
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149,16,10074600,6056108
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238,16,10263807,6163373
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990,16,10882057,6537463
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830,16,10609820,6382884
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738,16,10619003,6343865
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006,16,10900886,6490244
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960,16,10498980,6340076
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816,17,11192197,6685774
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582,17,11824369,7152982
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153,17,11437109,6817973
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820,17,11393492,6863707
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348,17,11596984,6964094
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916,17,11878171,7167558
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962,17,11536662,6840830
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372,17,12559477,7497876
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303,17,12225562,7352926
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638,17,11964460,7170291
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888,17,12532702,7549336
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492,17,12836124,7707776
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,18,13048511,7887763
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,18,13347771,7990228
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,18,12677300,7654312
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,18,13251875,7947352
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,18,13687830,8186393
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,18,12840517,7629715
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,18,13338406,8012517
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,18,13542320,8060250
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,18,13247269,7922921
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,18,11374035,6781234
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,18,12299535,7386402
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,18,11539095,6954506
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,19,12558735,7568561
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,19,12278447,7350256
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,19,12074324,7267799
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,19,12250084,7317841
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,19,12686117,7620829
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,19,11798203,7124175
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,19,11547979,6956441
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,19,11954952,7190660
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807,19,11981653,7142860

In [225]:
year_sum.sum(axis=1)

year
16    122546145
17    142977309
18    154194464
19    109130494
dtype: int64

In [226]:
day_sum

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Unnamed: 0,,,,,,,,,,,,,,,
Friday,182391,78508,38171,189142,78918,54105,180608,77114,52028,177534,73476,58847,179930,71480,60683
Monday,147407,65644,37137,139664,64460,36965,149051,61370,34599,140641,57166,34851,148711,59535,35454
Saturday,181806,74971,37001,179746,70875,39964,176661,75882,42683,180867,73679,39157,182752,73896,41727
Sunday,187583,79915,49378,183703,76540,38964,173437,79001,39033,173440,74059,36614,179119,74664,37422
Thursday,146544,65878,47190,143854,57932,37563,141652,65002,37095,140531,58316,35209,145288,56492,36373
Tuesday,148537,64111,38306,142676,59035,35566,144634,61986,35151,139362,60310,33610,146158,56659,33992
Wednesday,146687,65775,38055,145780,60808,38014,145575,61724,37315,142659,59258,35470,144518,58232,35968

In [243]:
day

,Unnamed: 0,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
1,Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
2,Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
3,Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
4,Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
5,Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
6,Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
7,Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
8,Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
9,Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
10,Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
11,Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
12,Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
13,Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
14,Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
15,Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
16,Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
17,Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
18,Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
19,Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
20,Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
21,Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
22,Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
23,Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
24,Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
25,Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
26,Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
27,Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200
28,Friday,1/29/2016,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377
29,Saturday,1/30/2016,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632
30,Sunday,1/31/2016,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440